@layer layout {

    .box--icon {
        margin-block-start: calc( 50 / var(--base) * 1rem);
        margin-block-end: calc( 40.86 / var(--base) * 1rem);
    }

    .box--calculator {
        padding-block: var(--calculator-padding-block);
        padding-inline: var(--calculator-padding-inline);
    }

    .box--tip-card {
        padding: var(--tip-card-padding);
    }

    @media(min-width: 64em){
        .box--icon {
            margin-block-start: calc( 163 / var(--base) * 1rem);
            margin-block-end: calc( 87.86 / var(--base) * 1rem);
        }
    }
}