@layer layout {
    .cluster--calculator {
        display: flex;
        flex-direction: column;
        gap: var(--gap-calculator);
    }

    .cluster--results {
        display: flex;
        flex-direction: column;
        gap: var(--gap-results);
    }

    @media(min-width: 64em){
        .cluster--calculator {
            flex-direction: row;
            justify-content: space-between;
        }

        .cluster--results {
            justify-content: space-between;
        }
    }
}