@layer layout {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: var(--gap-buttons);
        row-gap: var(--gap-buttons);
    }

    .grid--display-results {
        display: grid;
        grid-template-columns: max-content minmax(0, 1fr);
        gap: var(--item-display-gap-row) var(--item-display-gap-column);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-items: stretch;
    }

    @media(min-width: 48em) {
        .grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
    
}