@layer tokens {
    :root {
        --bg-primary: var(--grey-200);
        --bg-calculator: var(--white);
        --bg-bill-input: var(--grey-50);
        --bg-button-disabled: var(--green-900);
        --bg-button-enabled: var(--green-400);
        --bg-button-hover: var(--green-200);
        --bg-tip-card: var(--green-900);
        --bg-reset-button-disabled: var(--green-750);
        --bg-reset-button-enabled: var(--green-400);
        --bg-input-focus: var(--green-400);
        --bg-input-error: var(--orange-400);

        --fc-bill-input: var(--green-900);
        --fc-bill-input-placeholder: var(--grey-300);
        --fc-bill-label: var(--grey-500);
        --fc-button-disabled: var(--white);
        --fc-button-enabled: var(--green-900);
        --fc-button-hover: var(--green-900);
        --fc-tip-input: var(--grey-550);
        --fc-display-label: var(--white);
        --fc-person-label: var(--grey-400);
        --fc-display-output: var(--green-400);
        --fc-reset-button-disabled: var(--green-800);
        --fc-reset-button-enabled: var(--green-900);
        --fc-error-message: var(--orange-400);
    }
}