@layer base {
  html {
    background-color: var(--bg-primary);
    font-family: var(--font-family-base);
    font-weight: var(--fw-bold);
    -webkit-text-size-adjust: 100%;
  }

  html,
  body {
    min-block-size: 100vh;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  button {
    display: block;
    cursor: pointer;
  }

  /* Chrome, Safari, Edge */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    cursor: pointer;
    border: 2px solid transparent;
    outline: none;
    transition: border-color 0.2s ease;
  }

  @supports (min-block-size: 100dvh) {
    html,
    body {
      min-block-size: 100dvh;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    input {
      transition: none;
    }
  }
}
